name: Deploy Edge Function

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - name: Deploy Function
        # Maine Project ID direct yahan likh di hai taaki secret ka jhanjhat khatam ho jaye
        run: supabase functions deploy get-mux-url --project-ref qgnhmfjxkwdlvjlzcayt
        env:
          SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      - name: Deploy Function
        run: |
          supabase functions deploy get-mux-url --project-ref qgnhmfjxkwdlvjlzcayt --no-verify-jwt
          supabase functions deploy mux-webhook --project-ref qgnhmfjxkwdlvjlzcayt --no-verify-jwt
        env:
          SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
